@media screen and (max-width: 600px){
    table{
        width: 100%;
    }
}
body{
    background-color: rgb(112,111,111);
}
.top-content{
    padding: 10%;
    background-image: url("images/hotel.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
}